-- Enable RLS on all tables to lock them down from direct client API access
DO $$
DECLARE
    row record;
BEGIN
    FOR row IN
        SELECT tablename 
        FROM pg_tables 
        WHERE schemaname = 'public'
    LOOP
        EXECUTE format('ALTER TABLE public.%I ENABLE ROW LEVEL SECURITY;', row.tablename);
    END LOOP;
END;
$$;
